<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">
<head>
    <meta charset="utf-8" />
    <h1>Добавление пользователя</h1>
</head>
<body>
<form th:action="@{/admin/add}" method="post">
    <p><label for="firstName">firstName</label></p>
    <p><input type="text" id="firstName" name="firstName" th:field="*{user.firstName}" required>></p>
<!--    <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{user.firstName}">firstName error</div>-->
    <br/>

    <p><label for="password">password</label></p>
    <p> <input type="password" id="password" name="password" th:field="*{user.password}" required></p>
<!--    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{user.password}">Password error</div>-->
    <br/>

    <p><label for="lastName">lastname</label></p>
    <p><input type="text" id="lastName" name="lastName" th:field="*{user.lastName}" required></p>
<!--    <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{user.lastName}">lastName error</div>-->
    <br/>

    <p><label for="age">age</label></p>
    <p><input type="number" id="age" name="age" th:field="*{user.age}" required></p>
<!--    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{user.age}">age error</div>-->
    <br/>

    <p><label for="email">email</label></p>
    <p><input type="text" id="email" name="email" th:field="*{user.email}" required></p>
<!--    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{user.email}">Email error</div>-->
    <br/>

  <label>Role:
      <select size="2" multiple name="allRoles">
          <option selected="selected" value="1">USER</option>
          <option value="2">ADMIN</option>
      </select>
  </label>
    <br/>
    <p>
        <input type="submit" value="add">
    </p>
</form>
<p>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="logout"/>
</form>
</p>
</body>
</html>