<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>Пользователи</tr>
    </thead>
    <tbody>
    <tr>
        <th>id</th>
        <th>email</th>
        <th>firstname</th>
<!--        <th>password</th>-->
        <th>age</th>
        <th>lastname</th>
        <th>roles</th>
    </tr>
    <tr th:each="user : ${usersList}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.roles}"></td>
        <td>
            <a th:href="@{'/admin/edit/'+${user.id}}">edit</a>
            <a th:href="@{'/admin/delete/'+${user.id}}">delete</a>
        </td>
<!--        <td>-->
<!--            <th:block th:each="role : ${user.getRoles()}"-->
<!--                      th:text="${role.getName().replace('ROLE_', '')}+' '">Roles-->
<!--            </th:block>-->
<!--        </td>-->
    </tr>
    </tbody>
</table>
<h2>Add user</h2>
<a th:href="@{'/admin/addUser'}">Add new user</a>
<p>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="logout"/>
</form>
</p>
</body>
</html>