<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <h1>Редактирование пользователя</h1>
    <meta charset="utf-8" />
</head>
<body>
<form th:method="POST" th:action="@{/admin/edit(id=${user.id})}" th:object="${user}">
    <p><input type="hidden" th:field="*{id}" /></p>


    <p><label for="firstName">firstName</label></p>
    <p><input type="text"  th:field="*{firstName}" id="firstName" value="firstName"></p>
<!--    <div style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{user.firstName}">firstName error</div>-->


    <p><label for="password">password</label></p>
    <p><input type="password" th:field="*{password}" id="password" value="password"></p>
<!--    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{user.password}">Password error</div>-->


    <p><label for="lastname">lastName</label></p>
    <p><input type="text" th:field="*{lastName}" id="lastName" value="lastName"></p>
<!--    <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{user.lastName}">lastName error</div>-->


    <p><label for="age">age</label></p>
    <p><input type="number" th:field="*{age}" id="age" value="age"></p>
<!--    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{user.age}">Age error</div>-->


    <p><label for="email">email</label></p>
    <p><input type="text" th:field="*{email}" id="email" value="email"></p>
<!--    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{user.email}">Email error</div>-->


    <div>
        <label for="roles">Select roles:</label>
        <select id="roles" name="roles" multiple="multiple">
            <option th:each="role : ${allRoles}" th:value="${role.id}" th:text="${role.role.substring(5)}"
                    th:selected="${#lists.contains(user.roles, role)}"></option>
        </select>
    </div>
    <p>
        <input type="submit" value="edit">
    </p>

</form>
<p>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="logout"/>
</form>
</p>
</body>
</html>